.sidebar {
  width: 350px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-color);
}

.sidebar-header {
  padding: 15px 20px;
  background-color: var(--bg-secondary);
}

.sidebar-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-header h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-primary);
}

.header-icons {
  display: flex;
  gap: 25px;
}

.header-icons .icon {
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--text-muted);
}

.header-icons .icon:hover {
  color: var(--text-primary);
}

.search-bar {
  padding: 10px 15px;
  background-color: var(--bg-primary);
  position: relative;
}

.search-bar input {
  width: 100%;
  padding: 10px 10px 10px 65px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 0.9rem;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}

.search-bar input::placeholder {
  color: var(--text-muted);
}

.search-icon {
  position: absolute;
  left: 30px;
  top: 20px;
  color: var(--text-muted);
  font-size: 1rem;
}