.sidebar {
  width: 320px;
  background-color: #202c33;
  color: white;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  padding: 15px 20px;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 1px solid #2a3942;
}

.search-bar {
  padding: 10px 15px;
  border-bottom: 1px solid #2a3942;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 0.95rem;
}
